<% content_for :head do %> 
<%= render :partial => "index_menu" %>
<% end %>

<% unless @fieldworks.empty? %>
<p>

<ul>
<% for fieldwork in @fieldworks %>
<li><%= link_to fieldwork.location, fieldwork_url(fieldwork) %></li>
<% end %>
</ul>

</p>
<% end %>
