<% content_for :head do %> 
<%= render :partial => "index_menu" %>
<% end %>

<%= error_messages_for :fieldwork %>

<% form_for @fieldwork do |f| %>

<%= render_form(f, 'form') %>

<p><%= f.submit "Create" %></p>

<% end %>
