<h1>Fieldworks#search</h1>
<%= render :partial => "index_menu" %>

<% form_tag search_fieldworks_path do %>
<p>
Lokacija...<br/>
<%= text_field_tag 'keyword' %>
<%= submit_tag "Search" %>
</p>
<% end %>


<% unless @fieldworks.empty? %>
<p>
<ul>

<% for fieldwork in @fieldworks %>
<li><%= link_to fieldwork.location, fieldwork_url(fieldwork) %></li>
<% end %>

</ul>
</p>
<% end %>
