<h1>Fieldwork#show</h1>
<%= render :partial => "show_menu" %>

<p>Lokacija: <%= @fieldwork.location %></p>

<p>Trajanje: <%= @fieldwork.duration %></p>

<p>
Svrha:<br/>
<%= @fieldwork.purpose %>
</p>
