<% content_for :head do %> 
<%= render :partial => "show_menu" %>
<% end %>

<p>Lokacija: <%= @fieldwork.location %></p>

<p>Trajanje: <%= @fieldwork.duration %></p>

<p>
Svrha:<br/>
<%= @fieldwork.purpose %>
</p>
