<h1>Member#mail</h1>
<%= render :partial => "show_menu" %>

<% form_tag mail_member_url(@member) do %>

Subject:<br/>
<p>
<%= text_field_tag 'subject' , '' , :size => 60 %>
</p>

Body:<br/>
<p>
<%= text_area_tag 'body' , nil , :rows => 20 , :cols=> 70 %>
</p>

<p> 
<%= submit_tag 'Send' %> 
</p>

<% end %>
