<% content_for :head do %> 
<%= render :partial => "projects/show_menu" %>
<% end %>

<%= error_messages_for :project_participations %>

<% unless @members.empty? %>
Members:<br/>
<ul>
<% for member in @members %>
<li>
<%= link_to "#{member.first_name} #{member.last_name}", member_url(member.id) %>
<%= link_to "[+]", project_participations_url(@project, :id => member), :method => :post %>
</li>
<% end %>
</ul>
<% end %>
