<% content_for :head do %> 
<%= render :partial => "books/show_menu" %>
<% end %>

<%= form_for [@book, @loan] do |f| %>

<%= render_form(f, 'loans/form') %>

<p> <%= f.submit 'Create' %> </p>

<% end %>
