<% content_for :head do %> 
<%= render :partial => "index_menu" %> : <%= render :partial => "sub_menu" %>
<% end %>

<% unless @notifications.empty? %>

<% for notification in @notifications %>
<p> <%= link_to notification.title, notification_url(notification) %>  </p>
<p> <%= notification.body %> </p>
<hr/>
<% end %>

<% end %>
