<% content_for :head do %> 
<%= render :partial => "members/show_menu" %>
<% end %>

<% if @fees %>

<ul>
<% for f in @fees %>
<li><%= f.year %></li>
<% end %>
</ul>

<% end %>

<%= link_to "New", new_member_membership_fee_url %>
