<% content_for :head do %> 
<%= render :partial => "members/show_menu" %>
<% end %>

<% form_for [@member, @fee] do |f| %>

<%= error_message_on "membership_fee", "year" %>

<p>
Uplata za godinu:</br>
<%= select_year Date.today %> 
</p>

<p><%= f.submit 'Create' %></p>

<% end %>
