<p>
Naziv sekcije:<br/>
<%= f.text_field :title %>
</p>

<p>
Mentor sekcije:<br/>
<%= f.text_field :mentor %>
</p>

<p>
Radni plan:<br/>
<%= f.text_area :work_plan , :rows => '10' , :cols => '30' %>
</p>

