<% content_for :head do %> 
<%= render :partial => "show_menu" %>
<% end %>

<p>Naziv: <%= @section.title %></p>

<p>Mentor: <%= @section.mentor %> dana</p>
	
<p>
Radni plan:<br/>
<%= @section.work_plan %>
</p>
