<% content_for :head do %> 
  <%= render :partial => "projects/show_menu" %>
<% end %>

<% unless @project.report.nil? %>
  <%= link_to "#{@project.report.document_file_name}", @project.report.document.url %> | 
  <%= link_to '[x]', project_report_url(@project), :method => :delete, :confirm => "Are you sure?" %>
  <br/>
<% end %>

<% if @project.report.nil? %>
  <p><%= link_to 'New', new_project_report_url(@project) %></p>
<% end %>
