<% content_for :head do %> 
<%= render :partial => "index_menu" %>
<% end %>

<% unless @projects.empty? %>
<p>
<ul>

<% for project in @projects %>
<li><%= link_to project.title, project_url(project) %></li>
<% end %>

</ul>
</p>
<% end %>
