<% content_for :head do %> 
<%= render :partial => "fieldworks/show_menu" %>
<% end %>

<p>
<% unless @registrations.empty? %>

<ul>
<% for r in @registrations %>
<li>
<%= link_to "#{r.member.first_name} #{r.member.last_name}", member_url(r.member.id) %> |
<%= link_to "[a]", fieldwork_participation_url(@fieldwork, r.id, :role => FieldworkParticipation::ROLE[:participant]), :method => :put %>
<%= link_to "[r]", fieldwork_participation_url(@fieldwork, r.id), :method => :delete %>
</li>
<% end %>
</ul>

<% end %>
</p>
