<% content_for :head do %> 
<%= render :partial => "index_menu" %>
<% end %>

<%= error_messages_for :letter %>

<% form_for @letter, :html => {:multipart => true} do |f| %>

<%= letter_form(f) %>

<p><%= f.submit 'Create' %></p>

<% end %>
