<% content_for :head do %> 
<%= render :partial => "index_menu" %>
<% end %>

<% unless @tags.empty? %>

<p>
<ul>
	<% for tag in @tags %> 
    <li><%= link_to tag.title, tag_url(tag) %></li>
	<% end %>
</ul>
</p>

<% end %>
