<h1>Subscriptions#index</h1>
<%= render :partial => "index_menu" %>
<hr/>

<% unless @subscriptions.empty? %>

<p>
<ul>
<% for s in @subscriptions %>
 <li><%= s.title %></li>
<% end %>
</ul>
</p>


<% else %>

<p>
<%= flash[:tags] %>
</p>

<% end %>
