<% content_for :head do %> 
<%= render :partial => "fieldworks/show_menu" %>
<% end %>

<p><%= error_messages_for :reports %></p>

<% form_tag fieldwork_report_url(@fieldwork), { :multipart => true } do %>

<p>
Izvjestaj za spremanje:</br>
<%= file_field_tag :report %>
</p>

<p>
<%= submit_tag 'Spremi izvjesce' %>
</p>

<% end %>
