<h1>Items#edit</h1>
<%= render :partial => "show_menu" %>
<hr/>

<%= error_messages_for :item %>

<% form_for @item do |f| %>

<%= item_form(f) %>

<p> <%= f.submit 'Update' %> </p>
    
<% end %>
