<h1>Item#history</h1>

<%= render :partial => "items/menu" %>

<% unless @item.loans.empty? %>
<ul>
  <% for l in @item.loans %>
  <li>Giver: <%= link_to "#{l.giver.first_name} #{l.giver.last_name}", member_url(l.giver.id) %> | Taker: <%= link_to "#{l.taker.first_name} #{l.taker.last_name}", member_url(l.taker.id) %> | Periond: <%= l.period %></li>
  <% end %>
</ul>
<% end %>

