<h1>Items#index</h1>
u izradi
<!-- <%= render :partial => "index_menu" %>
<hr/>

<% unless @items.empty? %>

<p>
<table border='1'>
    
  <tr>
    <th>Inv#</th>
    <th>Naziv</th>
  </tr>
  
  <% for item in @items %>
    <tr>
      <td><%= link_to item.inventory_number, item_url(item) %></td>
      <td><%= link_to item.name, item_url(item) %></td>
    </tr>
  <% end %>

</table>
</p>

<% end %>

-->
