<% content_for :head do %> 
<%= render :partial => "index_menu" %>
<% end %>

<% unless @loans.empty? %>
<ul>
  <% for l in @loans %>
    <li>Posudio: <%= link_to member_url(l.borrower) %> | Odobrio: <%= link_to member_url(l.lender) %> | Period: <%= l.period %></li>
  <% end %>
</ul>
<% end %>
