<h1>Items#new</h1>
<%= render :partial => "index_menu" %>
<hr/>

<%= error_messages_for :item %>

<% form_for Item.new do |f| %>

<%= item_form(f) %>

<p> <%= submit_tag 'Create' %> </p>
    
<% end %>
