<p>
Racuni: 
<%= link_to 'Svi', transfers_url %> | 
<%= link_to 'Crni', secret_transfers_url %> |
<%= link_to 'Ulazni', incoming_transfers_url %> | 
<%= link_to 'Izlazni', outgoing_transfers_url %>
</p>
<hr/>
