<% content_for :head do %> 
<%= render :partial => "show_menu" %>
<% end %>

<%= error_messages_for :transfer %>

<% form_for @transfer do |f| %>

<%= transfer_form(f) %>

<p><%= f.submit 'Update' %></p>

<% end %>
