<% content_for :head do %> 
<%= render :partial => "index_menu" %> : <%= render :partial => "sub_menu" %>
<% end %>

<% unless @transfers.empty? %>

<p>
<table border='1'>
<tr>
<th>Iznos</th>
<th>Unio</th>
</tr>

<% for t in @transfers %>
<tr>
<td><%= link_to t.amount, transfer_url(t) %></td>
<td><%=h "#{t.member.last_name} #{t.member.first_name}"  if t.member %></td>
</tr>
<% end %>
</table>
</p>

<% end %>
