<h1>Show_archives</h1>

<% if @mails.size!=0 %>

<p>
<table border='1'>
  <tr>
	<th>Poslao</th>
    <th>Primaoci</th>
  </tr>

<% for mail in @mails %>
  <tr>
		<td>
      <%= link_to mail.sender.username, :action=>'show', :id=>member.id %>
    </td>
    <td>
      <%=h mail.recipients %>
    </td>
    
  </tr>
<% end %>
</table>
</p>


<% end %>

