<% content_for :head do %> 
<%= render :partial => "show_menu" %>
<% end %>

<%= error_messages_for :member %>

<% form_for @member do |f| %>

<%= render_form(f, 'form') %>

<p><%= submit_tag 'Update' %></p>

<% end %>
