<% content_for :head do %> 
<%= render :partial => "members/show_menu" %>
<% end %>

<ul>
<% for fieldwork in @fieldworks %>
<li><%= link_to fieldwork.location, fieldwork_url(fieldwork) %></li>
<% end %>
</ul>

